html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f0eee8;
}

a {
  display: block;
}

.link-card {
  display: block;
  background-color: #dcd4cd;
  border: 3px solid #785439;
  border-radius: 3px;
}

.link-card:hover {
  background-color: #cabdb2;
}

.link-card h1 {
  margin: 0;
  padding: 1rem;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #512200;
}

.link-card div {
  padding: 1rem 0;
  border-top: 2px solid #9a816d;
  border-bottom:2px solid #9a816d;
  borde
}

.link-card p {
  margin: 0;
  padding: 0 1rem;
  font-family: Georgia, serif;
  font-size: 1rem;
  text-decoration: none;
  color: #512200;
}

.link-card .btn {
  display: inline-block;
  text-align: center;
  font-family: "Dosis", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  padding: .4em .75em .5em;
  background-color: #785439;
  border-radius: 8px;
  color: #fff;
}

.link-card:hover .btn {
  background-color: #512200;
}

.link-card dl {
  margin: 0;
  padding: 0 1rem;
  font-family: Georgia, serif;
  font-size: .875rem;
  text-decoration: none;
  color: #512200;
}

.link-card dt {
  display: inline-block;
  width: 6rem;

}

.link-card dd {
  display: inline-block;
  min-width: 9em;
  font-style: italic;
}
